/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*a href attribute styles*/
a:link, a:visited, a:hover, a:active { 
  text-decoration: none;  
}

a, .phone {
  color: #000000;
}

@font-face {
  font-family: "Golden Ranger";
  src: url("../fonts/golden-ranger.ttf");
}

body {
  background-color: #000000;
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  font-family: 'Golden Ranger', script;
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  width: 38rem;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

img {
  max-width: 100%;
}


/* GRID */

.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 32.8%;
  text-align: center;
  float: left;
}

.wrapper {
  width: fit-content;
}

/*Header*/

#tpg-logo {
  float: left;
  padding-top: 1rem;
  padding-left: 1rem;
}

nav {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 6rem;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav ul li a {
  color: #ff0099;
  padding-left: 1rem;
}

li {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

/*Services*/
#services {
  color: #ffffff;
  background-color: #ff0099;
  text-align: center;
  padding: 1rem 0;
  margin-top: -.28rem;
  margin-bottom: 0;
}

.services-icon {
  text-align: center;
  margin: 5.8% 0;
}

.website-description p {
  color: #ffffff;
}

.website-icon, .dev-description  {
  height: 16rem;
  background-color: #ffffff;
  padding-top: .7rem;
  padding-left: 1rem;
  align-items: center;
  line-height: 1.5rem;
  margin-top:-.27rem;
}

.dev-icon, .website-description {
  height: 16rem;
  color: #ffffff;
  background-color: #000000;
  padding-top: .7rem;
  padding-left: 1rem;
  align-items: center;
  margin-top:-.27rem;
}

strong {
  padding-left: 10rem;  
}

/*About Me*/

.background-about {
  width: 200%;
  margin-left: -100%;
  margin-top: -3%;
  margin-bottom: -48rem;
  float: left;
}

#about {
  color: #ff0099;
  text-align: center;
  width: 198.8%;
  padding-bottom: 1rem;
  margin-left: -100%;
}

.headshot {
  width: 100%;
  margin-left: -100%;
  float: left;
  padding-left: 2rem;
}

.about-summary {
  width: 70%;
  text-align: left;
  font-weight: 700;
  line-height: 1.5rem;
  color: #000000;
  background-color: #ffffff;
  padding: 15.5% 13%;
  margin-left: 0;
  margin-right: 2rem;
  margin-bottom: 11%;
  border-radius: 50%;
}

/*Footer*/

footer {
  clear: left;
}

.footer-background {
  color: #000000;
  min-height: 18rem;
  background-color: #ff0099;
  padding-left: 3rem;
}

#contact {
  color: #ffffff;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

.social-media-icon {
  letter-spacing: 1rem;
}

.social-media-icon img {
  width: 60px;
}

.contact-info {
  padding-top: .5rem;
  margin-left: 10rem;
}

.social-media {
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 5rem;
}

.phone-icon {
  width: 40px;
  float:left;
  margin-top: .4rem;
  padding-right: 3rem;
}

.phone {
  align-items: center;
  margin-bottom: 3rem;
}

.email-icon {
  width: 40px;
  float: left;
  padding-right: 3rem;
  margin-top: 1rem;
}

.email {
  align-items: center;
  margin-top: 4.3rem;
}


#copyright a {
  color: #ff0099;
  text-align: center;
  padding: .1rem 0;
  margin-top: 0;
}

/*Top-Up Button*/
#myBtn {
  display: none;
  position:fixed;
  bottom: .5rem;
  z-index: 99;
  border: .063rem solid #000000;
  outline: none;
  cursor: pointer;
  padding: 0rem;
  border-radius: .5rem;
}

/*************Main-Portfolio-Page*************/
/*Base Styles*/

.portfolio-background {
  clear: left;
  background-color: #ffffff;
  padding: 3%;
  height: 56rem;
 }

.portfolio-background p {
  font-size: 1rem;
}

.portfolio-background p strong {
  color: #ff0099;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1%;
}

.portfolio-background h2 {
  color: #ffffff;
  text-align: center;
  background-color: #000000;
}


/*Grid*/
.portfolio-background .half-width {
  text-align: center;
}

/*Portfolio-Section*/
.design-portfolio {
  margin-top: 3%;
}

.development-portfolio {
  margin-top: 33%;
  clear: left;
}

/*************Portfolio-Case-Study*************/
.case-study-title p strong {
  font-size: 1.8rem;
}

.case-study-summary p {
  text-align: left;
  margin-top: 5%;
}

.case-study-summary img {
  margin-top: 1%;
}

/*************Portfolio-Single-Webpage-Design*************/
#portfolio-single-webpage-design .portfolio-background {
  height: 60rem;
}

/*************Portfolio-Responsive-Web-Design*************/
#portfolio-responsive-web-design .portfolio-background {
  height: 95rem;
}

#portfolio-responsive-web-design .yolanda-lopez {
  margin-bottom: 8%;
}

#portfolio-responsive-web-design .mobile-first-design {
  margin-left:  8.4%;
}


/*************Portfolio-Product-Design*************/
#portfolio-product-design .portfolio-background {
  height: 78rem;
}

#portfolio-product-design .social-media-header {
  width: fit-content;
  margin: 0 auto;
}



#portfolio-product-design .portfolio-background .cafe-abuela-icons {
  width: 10rem;
  padding-top: 3.5%;
  margin: 0 auto; 
}

#portfolio-product-design .portfolio-background .cafe-abuela-logo {
  padding-left: 4.5%;
}

/**********************Tablet View**********************/
@media (max-width:1281px) {

/*Tablet-Base Styles*/

body {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
}

p {
  font-size: 1.5rem;
}

/*Tablet-Header*/
#tpg-logo {
  margin-left: -1%;
}

nav {
  width: 150%;
  margin-top: 23%;
  margin-left: -51%;
}

nav ul li {
  text-decoration: underline;
}

nav ul li a {
  font-size: 1.3rem;
  font-weight: 700px;
}

/*Tablet-Services*/
#services {
  margin-bottom: .2rem;;
}

.services-icon {
  width: 60%;
  margin: 85% 15%;
}

.website-icon, .dev-icon {
  width: 40%;
  height: 27rem;
}

.website-description, .dev-description {
  width: 147.5%;
  height: 27rem;
  padding-right: 5%;
  margin-left: -56%;
}

.website-description li, .dev-description li {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.background-about {
  display: none;
}

#about {
  clear: left;
  width: 193%;
  font-weight: 900;
  padding: 2rem 1rem;
  background-color: #ffffff;
  margin-top: -1%;
  margin-left:-100%;
  margin-bottom: 3%;
}

.headshot {
  width: 180%;
  background-color: #ffffff;
  padding-left: 20%;
  padding-bottom: 3%;
  margin-top: -3%;
  margin-left: -100%;
  margin-bottom: 8%;
}

.about-summary {
  width: 174%;
  line-height: 2rem;
  height:auto;
  padding-top: 1.5%;
  margin-left: -100%;
  margin-top: -.5%;
  margin-bottom: -1%;
  border-radius: 0;
}

/*Tablet-Footer*/

.footer-background {
  width: 100.05%;
  padding-top: 1%;
  padding-left: 0; 
  padding-bottom: 3%; 
}

#contact {
  padding: 1rem 0;
}

.contact-info {
  margin-left: 10%;
}

.social-media {
  margin-left: 5%;
}

#copyright {
  width: 101.5%;
}

/*************Tablet-Main-Portfolio-Page*************/

/*Base Styles*/

.portfolio-background {
  height: 48rem;
 }

/*************Tablet-Portfolio-Single-Webpage-Design*************/
#portfolio-single-webpage-design .portfolio-background {
  height: 55rem;
}

/*************Tablet-Portfolio-Responsive-Web-Design*************/
#portfolio-responsive-web-design .portfolio-background {
  height: 70rem;
}

#portfolio-responsive-web-design .yolanda-lopez {
  width: 50%;  
  margin: 0 auto 3% auto;
}

#portfolio-responsive-web-design .mobile-first-design {
  margin-left: 0;
}

/*************Tablet-Portfolio-Product-Design*************/
#portfolio-product-design .portfolio-background {
  height: 70rem;
}

}

/**********************SmartPhone View**********************/
@media (max-width:885px) {

/*Smartphone-Base Styles*/
body {
  max-width: 400px;
  margin: 0 auto;
} 

h1 {
  width: 198%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 15%;
  clear: left;
}

strong {
  padding-left: 0;
  font-size: 1.44rem;
}


/*SmartPhone-Header*/

#tpg-logo {
  width: 192%;
  text-align: center;
  margin-bottom: 8%;
}

nav {
  width: 200%;
  text-align: center;
  margin-top: 100%;
  margin-left: -100%;
  margin-bottom: 11%;
}

nav ul {
  margin: -2%;
  padding-left: 0;
  line-height: 3rem;
}

nav ul li a {
  margin-left: -5%;
  font-size: 1.5rem;
}

/*SmartPhone-Services*/
.services-icon {
  margin: 19% 9%;
}

 .website-icon {
  background-color: #000000;
 }

.website-icon, .website-description {
  height: 47rem;
}

.website-description, .dev-description {
  width: 139%;
  margin-left: -52%;
}

.website-description p, .dev-description p {
  font-size: 1.3rem;
}

.website-description li, .dev-description li {
  font-size: 1.2rem;
}

.dev-icon {
  background-color: #ffffff;
}

.dev-icon, .dev-description {
  height: 32rem;
}

.dev-description {
  margin-top: -2%;
}

/*SmartPhone-About Me*/

#about {
  width: 184%;
  margin-top: 0;
  margin-left: -100%;
  background-color: #000000;
}

.headshot {
  width: 188%;
  padding:0 6.1% 3% 6.1%;
  margin-left: -100%;
  margin-bottom: 0;
  background-color: #000000;
}

.about-summary {
  width: 174.2%;
  clear: left;
  margin-left: -100%;
  color: #ffffff;
  background-color: #000000;
}

.about-summary p {
  font-size: 1.3rem;
}

/*SmartPhone-Footer*/

.footer-background {
  height:30rem;
}

.contact-info {
  width: 198.3%;
  padding-left: 2.5%;
  margin-left: 0;
  border-top: #000000 solid;
  border-bottom: #000000 solid;
}

.social-media {
  clear: left;
  width: 197%;
  margin-left: -100%;
  margin-top: 105%;
  padding-bottom: 0;
}

/*SmartPhone-Top-Up Button*/
#myBtn {
  left: 5%;
}

/*************SmartPhone-Main-Portfolio-Page*************/

/*Base Styles*/

.portfolio-background {
  height: 111rem;
 }

/*Grid*/
.portfolio-background .third-width {
  width: 100%;
}

.portfolio-background .half-width {
  width: 100%;
}

/*************SmartPhnoe-Portfolio-Single-Webpage-Design*************/
#portfolio-single-webpage-design .portfolio-background {
  height: 105rem;
}

/*************SmartPhone-Portfolio-Responsive-Web-Design*************/
#portfolio-responsive-web-design .portfolio-background {
  height: 68rem;
}

/*************SmartPhone-Portfolio-Product-Design*************/
#portfolio-product-design .portfolio-background {
  height: 91rem;
}

}

/**********************Mobile View**********************/
@media (max-width:399px) {

/*Mobile-Base Styles*/
body {
  max-width: 280px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}


/*Mobile-Header*/
#tpg-logo {
  width: 188%;
  text-align: center;
  margin-bottom: 23%;
}

nav {
  text-align: left;
  margin-top: 198%;
  margin-bottom: 20%;
  clear: left;
}

nav ul li {
  padding-right: 3rem;
  line-height: 1.8rem;
  text-decoration: none;
}

nav ul li a {
  font-size: 2.1rem;
}

.hero {
  display: inline-block;
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
  border-top: #ffffff 1rem solid;
  border-bottom: #ffffff 1rem solid;
  margin-bottom: 0;
}

.hero-img {
  position: relative;
  width: 120%;
  margin-bottom: 0;
  transform: translateX(0);
  transform: translateY(-3%);
}

/*Mobile-Services*/

.website-icon, .dev-icon {
  display: none;
}

strong {
  color: #ff0099;
}

#services {
  width: 100.3%;
}

.website-description, .dev-description {
  width: 184%;
  margin-left: 0;
}

.website-description {
  height: 55rem;
  color: #000000;
  background-color: #ffffff;
}

.dev-description {
  height: 38rem;
  margin-left: -8.75rem;
  margin-top: 55rem;
}

.website-description p strong, .dev-description p strong {
  line-height: 3rem;
  font-size: 2rem;
  margin-left: -3%;
}

.website-description p strong {
  font-size: 3rem;
}

/*Mobile-About Me*/

#about {
  width: 178%;
  margin-top: -50%;
  margin-left: -100%;
  background-color: #000000;
}

.background-about {
  display: none;
}

.headshot {
  width: 159.5%;
  margin-left: -85.5%;
  margin-top: -3%;
  background-color: #000000;
}

.about-summary {
  width: 145.5%;
  margin-left: -85.5%;
  color: #ffffff;
  background-color: #000000;
  clear: left;
}

.about-summary p {
  font-size: 1.3rem;
  margin-bottom: -1rem;
}

/*Mobile-Footer*/

.footer-background {
  width: 100.5%;
  height: 34rem;
  margin: 0 auto;
}

.contact-info {
  width: 200%;
  margin-left: -2%;
  border-top: #000000 solid;
  border-bottom: #000000 solid;
}

.phone-icon, .email-icon {
  margin-left: 38%;
  margin-right: 20%;
  margin-bottom: 11%;
}

.phone p, .email p {
  text-align: center;
  font-size: 1.2rem;
}

.social-media {
  width: 200%;
  margin-top: 220%;
  margin-left: -103%;
}

.social-media-icon img {
  width: 23%;
}

#copyright {
  width: 87%;
  margin: 0 auto;
}

#copyright p {
  font-size: 1rem;
}

/*Mobile-Top-Up Button*/
#myBtn {
  width: 3rem;
  left: 3%;
}

/*************Mobile-Main-Portfolio-Page*************/

/*Base Styles*/

.portfolio-background {
  height: 92rem;
 }

/*************Mobile-Portfolio-Single-Webpage-Design*************/
#portfolio-single-webpage-design .portfolio-background {
  height: 100rem;
}

/*************Tablet-Portfolio-Product-Design*************/
#portfolio-product-design .portfolio-background {
  height: 93rem;
}

}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 0.063rem;
  border: 0;
  border-top: 0.063rem solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.063rem;
  margin: -0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.063rem;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 0.063rem solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

